*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(circle, rgb(11, 10, 10),#050505);
}
.clock{
  width: 500px;
  height: 500px;
  position: relative;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #1b1c1d,black);
}
.clock::before{
  content: "";
  width: 525px;
  height: 525px;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to right, #6a6c6c,rgb(76, 76, 78));
  box-shadow: 0 0 15px 15px rgba(0,0,0,0.2);
  z-index: -1;
}

.number{
  transform: rotate(calc(30deg * var(--n)));
  position: absolute;
  text-align: center;
  inset: 20px;
  font-size: 20px;
  color: silver;
  text-shadow: 0 0 12px silver;
}
.number b{
  transform: rotate(calc(-30deg * var(--n)));
  display: inline-block;
}
.center-dot{
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: rgb(59, 59, 59);
  border:6px solid white;
  border-radius: 50%;
}
.hour-hand ,.minute-hand ,.second-hand{
  --rotate: 0;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%) rotate(calc(var(--rotate) * 1deg));
  transform-origin: bottom;
  border-radius: 30px 30px 0 0;
}
.hour-hand{
  width: 12px;
  height: 130px;
  background: linear-gradient(white,black);
}
.minute-hand{
  width: 12px;
  height: 190px;
  background: linear-gradient(to top,white,rgb(34, 30, 30));
}
.second-hand{
  width: 6px;
  height: 210px;
  background: linear-gradient(to top,white,rgb(62, 60, 60));
}